include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/statictheme *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/statictheme/migration *.ini *.py *.mako
