{% extends "home/about.html" %}

{% block subtitle %}{{ _('Data Protection') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Data Protection'), 'home.data_protection' %}</li>
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block about %}
        {% snippet 'snippets/static_theme_data_protection.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
