{% ckan_extends %}

{% block footer_content %}

    <div class="row">
      <div class="col-md-3 attribution">
        {% block footer_nav %}
          <ul class="list-unstyled">
            {% block footer_links %}
               <p><a  href="https://www.dfg.de/" target="_blank">
                <img src="/dfg_logo_schriftzug_weiss_foerderung_en.gif" alt="dfg.de" width ="300" height="100"> </a>
                   NFDI4Chem is funded by DFG Project Number 441958208
               </p>

            {% endblock %}
          </ul>
      </div>
         <div class="col-md-3 ">
          <ul class="list-unstyled">
            {% block footer_links_ckan %}
                <li> <a href="https://www.nfdi4chem.de/"  target="_blank">{{ _('NFDI4Chem Website') }} </a> </li>
                <li> <a href="https://www.nfdi4chem.de/index.php/frequently-asked-questions/"  target="_blank">{{ _('NFDI4Chem FAQ') }} </a> </li>
                <li> <a href="https://knowledgebase.nfdi4chem.de/knowledge_base/"  target="_blank">{{ _('NFDI4Chem Knowledge Base') }} </a> </li>
                <li> <a href="https://www.nfdi4chem.de/index.php/helpdesk/"  target="_blank">{{ _('NFDI4Chem Helpdesk') }} </a> </li>
                <li> <a href="https://terminology.nfdi4chem.de/ts" target="_blank"> {{ _('NFDI4Chem Terminology Service') }}</a> </li>
            {% endblock %}
          </ul>
         </div>

       <div class = "col-md-3 footer-links">
          <ul class="list-unstyled">
                <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About') }}</a></li>
                <li><a href="{{ h.url_for( '/help') }}">{{ _('Help') }}</a></li>
                <li> <a href="{{ h.url_for( '/imprint') }}">{{ _('Imprint') }}</a></li>
                <li> <a href="{{ h.url_for( '/data_protection') }}">{{ _('Data Protection') }}</a></li>

          </ul>
        {% endblock %}
      </div>

      <div class="col-md-3 attribution">
        {% block footer_attribution %}
          <p> <strong> Powered by </strong> <a  href="https://www.tib.eu/en/" target="_blank"> <img src="/TIB_Logo_EN_WM_W.SVG" alt="tib.eu" width="210" height="70"></a> </p>
        {% endblock %}
      </div>
    </div>

    <hr>

    <div class = "row">
<!--        <div class = "col-md-2 footer-links">-->
<!--            {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}-->
<!--            <a href="{{ api_url }}" target="_blank">{{ _('CKAN API') }}</a>-->
<!--        </div>-->

        <div class = "col-md-11 footer-links">
            <i class = "fa fa-linkedin-square "> </i>
            <a href="https://www.linkedin.com/company/nfdi4chem/"  target="_blank">{{ _('LinkedIn') }}</a>
        </div>

        <div class = "col-md-1 footer-links">
            <i class="fa-brands fa-x-twitter"></i>
            <a href=" https://twitter.com/nfdi4chem" target="_blank">{{ _('Twitter') }}</a>
        </div>

    </div>
    {% endblock %}

{% block footer_debug %}
{{ super() }}
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */

        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//support.tib.eu/piwik/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '42']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
<!-- End Matomo Code -->

{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% endblock %}