{% ckan_extends %}

{% block header_logo %}
 <a class="logo" href="/">
    <img loading="lazy" src="/base/images/NFDI4Chem-Logo_mehrfarbig_schwarz.png" alt="NFDI4Chem" title="NFDI4Chem"
         />
 </a>

{% endblock %}

{% block header_site_navigation_tabs %}

    <li>
            <a href="{{ h.url_for('/repository/') }}">{{ _('Repositories') }}</a>
    </li>
 {{ h.build_nav_main(

        ('dataset.search', _('Datasets')),
        ('molecule.search', _('Molecules')),

        {# ('sparql_interface.index', _('SPARQL')), #}
        {# ('footer.molecule_view', _('Molecule')), #} 

        ('home.about', _('About')),
        ('statictheme.help',_('Help')),
  )
  }}
{# ('footer.molecule_view', _('Molecule_view')), #}
{% endblock %}


{% block header_site_search %}

    <a href="{{ h.url_for('/search_bar') }}" class="btn btn-primary"> <i class="fa fa-search"></i>  </a>

{% endblock %}


{% block header_account_notlogged %}

{% endblock %}


