<style>

.centered-h3 {
    background-color: white; /* White background for the entire div */
    display: flex;
    justify-content: center; /* Center horizontally */
    padding: 20px; /* Padding around the h3 tag */
    border-radius: 10px; /* Curved edges for the div */
    margin-top: 20px; /* Space above the div */
}

.centered-h3 h2   {
    background-color: white;
    border-radius: 5px; /* Curved edges */
    padding: 10px; /* Padding inside the h3 tag */
    margin: 0; /* Removes default margin */
    /* Additional styling as needed */
}
</style>

<script>

document.addEventListener('DOMContentLoaded', function () {
    const ckanInstanceURL = 'http://ckanchem11.test.service.tib.eu/'; // For production

    // Fetch Dataset Count
    fetch(`${ckanInstanceURL}/api/3/action/package_search?rows=0`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const datasetCount = data.result.count;
                displayCount('dataset-count', datasetCount, 'Dataset', 'Datasets');
            }
        });

    // Fetch Organization Count
    fetch(`${ckanInstanceURL}/api/3/action/organization_list?all_fields=false`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const organizationCount = data.result.length;
                displayCount('organization-count', organizationCount, 'Repository', 'Repositories');
            }
        });

    function displayCount(elementId, count, singular, plural) {
        const text = ungettext(`%d ${singular}`, `%d ${plural}`, count).replace('%d', count);
        document.getElementById(elementId).innerText = text;
    }
});

function ungettext(singular, plural, count) {
    return count === 1 ? singular : plural;
}


</script>

{% set repo_count = h.repositories_count() %}
{% set dataset_count = h.dataset_count() %}

<div class = "centered-h3">
    <h2> Search Across <br> </h2>
    <h2 id="dataset-count">...</h2>
<!--    <h2>{{ dataset_count }} Datasets &</h2>-->

    <h2>&  {{ repo_count }} Repositories </h2>
<!--    <h2 id="organization-count">... </h2>-->
</div>

<!--<div id="organization-count">Loading organizations...</div>-->


<!--<div class="centered-h3">-->
<!--    <h1>Search across <br>-->
<!--        132,964 datasets & 4 Repositories</h1>-->

<!--</div>-->
