{# {% asset 'ckanext-statictheme/cookie-accept-bar-js' %} #}
{# {% asset 'ckanext-statictheme/cookie-bar-css' %}             #}


<style>
  .cookie-wrapper{
  position: fixed;
  top: auto;
  bottom: -5px;
  margin-left: auto;
  margin-right: auto;
  left: 20px;
  right: 20px;
  max-width: 1000px;
  background: #00617c;
  border-radius: 8px;
  z-index: 3;
}

.cookie-wrapper.hide{
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}
::selection{
  color: #fff;
  background: #FCBA7F;
}


.cookie-content{
  display: flex;
  padding: 32px 46px 28px 32px;
  font-size: 14px;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 17px;
}
.cookie-content p{
font-weight: 400;
line-height: 17px;
text-align: left;
margin-right: 56px;
align-self: center;
}

.cookie-content p a{
font-weight: 700;
text-decoration: none;
color: #fff;
}
.cookie-content .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button{
  backface-visibility: hidden;
  outline: none;
  border: none;
  position: relative;
  height: 34px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #ffa800;
  border-radius: 50.33px;
  color: #fff;
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 34px;
  width: 131px;
}

.buttons .item:last-child {
  background: #fff;
  color: #2F4858;
  margin-left: 32px;
}

.buttons button:hover{
  transform: scale(0.97);
}

.buttons a{
  color: #FCBA7F;
}


@media (max-width: 680px) {
  .cookie-content .buttons {
    flex-direction: column;
  }

  .buttons .item:last-child {
    margin-left: 0;
    margin-top: 10px;
  }

}

@media (max-width: 500px) {
  .cookie-content {
    font-size: 12px;
    padding: 12px;
  }

  .cookie-content p {
    margin-right: 15px;
  }



  .buttons button {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    width: 100px;

  }
}

</style>





  <div class="cookie-wrapper">
     <div class="cookie-content">
         <p>This website uses only technically necessary cookies.
          <a href="/data_protection#cookies"> More information on Cookies Policy</a>
         </p>
        <div class="buttons">
           <button class="item">OK</button>
<!--           <button class="item decline">Decline</button>-->
        </div>
    </div>
</div>



<!--<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    if ( $('.cookie-wrapper').length > 0 ) {

const cookieBox = document.querySelector(".cookie-wrapper"),
acceptBtn = cookieBox.querySelector("button");

//declineBtn = document.querySelector(".decline");
//
//declineBtn.onclick = ()=>{
//  console.log("declinebtn");
//  document.cookie = "nfdi4chem=active; max-age="+60*60*24*30;
//  if(document.cookie){
//  //if cookie is set
//  }
//  else{
//  //if cookie not set then alert an error
//    cookieBox.classList.add("hide"); //hide cookie box
//  }
//}



acceptBtn.onclick = ()=>{
   console.log("acceptbtn");
  //setting cookie for 1 month, after one month it'll be expired automatically
  document.cookie = "nfdi4chem=active; max-age="+60*60*24*30;
  if(document.cookie){ //if cookie is set
    cookieBox.classList.add("hide"); //hide cookie box
  }else{ //if cookie not set then alert an error
    alert("Cookie can't be set! Please unblock this site from the cookie setting of your browser.");
  }
}

let checkCookie = document.cookie.indexOf("nfdi4chem=active"); //checking our cookie
//if cookie is set then hide the cookie box else show it
checkCookie != -1 ? cookieBox.classList.add("hide") : cookieBox.classList.remove("hide");

}

</script>


