{% include 'snippets/statictheme_cookie_bar_asset.html' %}
{% include 'snippets/statictheme_cookie_accept_bar_asset.html' %}


<div class="cookie-wrapper">
     <div class="cookie-content">
         <p>This website uses only technically necessary cookies.
          <a href="/data_protection#cookies"> More information on Cookies Policy</a>
         </p>
        <div class="buttons">
           <button class="item">OK</button>
<!--           <button class="item decline">Decline</button>-->
        </div>
    </div>
</div>
