<h3> Need Help? </h3>

<p> For feedback, enquiries or suggestions about NFDI4Chem Search Service please contact our NFDI4Chem Helpdesk by sending an email to
    <a href="mailto:helpdesk@nfdi4chem.de"> helpdesk@nfdi4chem.de </a> </p>


<h4> What Happens Next? </h4>
<p> Your request goes out to all members of the NFDI4Chem Helpdesk and will be picked up by the person with the
    greatest expertise on the particular topic. </p>



<h4> Interested in the work of NFDI4Chem Project?</h4>
<p> For announcements relating to our NFDI4Chem project such as new services or events,
    please sign up to our <a href = "https://lists.nfdi.de/postorius/lists/nfdi4chem-announce.lists.nfdi.de/"> NFDI4Chem Newsletter. </a>
</p>


<h4> Find out more in NFDI4Chem Knowledge Base </h4>
<p> Looking for additional information or help on
    <a href="https://knowledgebase.nfdi4chem.de/knowledge_base/docs/intro/">research data management, </a>
    <a href = "https://knowledgebase.nfdi4chem.de/knowledge_base/docs/ontology/">ontologies </a>,
    <a href ="https://knowledgebase.nfdi4chem.de/knowledge_base/docs/repositories/">data repositories </a>
    or <a href = "https://knowledgebase.nfdi4chem.de/knowledge_base/docs/eln/"> electronic lab notebooks (ELNs) </a> for chemistry?

    Please visit <a href="https://knowledgebase.nfdi4chem.de/knowledge_base/"> NFDI4Chem Knowledge Base </a> or our
        <a href="https://www.nfdi4chem.de/"> NFDI4Chem Website. </a>
    </p>



