<h2> Imprint </h2>

<p>
Legal notice of this website – including provider identification according to § 5 Digitale Dienste Gesetz (DDG)
</p>

<h4> Providers of this Website: </h4>
<p> German National Library of Science and Technology (TIB) <br>
 Welfengarten 1 B, 30167 Hannover <br>
Postfach 6080, 30060 Hannover <br>

Represented by: Prof. Dr. Sören Auer (Director of the TIB) <br>

The Technische Informationsbibliothek (TIB) is a foundation under public law of the state of Lower Saxony.
Supervisory authority: Ministerium für Wissenschaft und Kultur des Landes Niedersachsen <br>
</p>



<h4> Contact: </h4>
<p>
Phone: +49 511 762-8989 <br>
E-mail: information@tib.eu <br>
</p>


<h4> Editorial office: </h4>
<p>
Responsible for the content according to § 55 para. 2 RStV: <br>
Dr. Oliver Koepler, oliver.koepler@tib.eu <br>
VAT identification number: DE 214931803 <br>
</p>

