
{% for repo in h.repositories_present() %}

<div class="box">
  {% set doosra_org = 'chemotion-repository' %}
  {% if repo.name == doosra_org %}
      {% set url = h.url_for(controller='organization', action = 'read', id = repo.name) %}
        {% set truncate=truncate or 0 %}
            <section class="group-list module module-narrow module-shallow">
                <header class="module-heading">
                    <a class="module-image" href="{{ url }}">
                        <img src="{{ repo.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ repo.name }}" />
                    </a>
                    <h3 class="media-heading"><a href={{ url }}>{{ repo.title  }}</a></h3>
                        {% if repo.description %}
                    {% if truncate == 0 %}
                      <p>{{ h.markdown_extract(repo.description)|urlize }}</p>
                    {% else %}
                      <p>{{ h.markdown_extract(repo.description, truncate)|urlize }}</p>
                    {% endif %}
                        {% endif %}
                </header>
              {% set list_class = "list-unstyled dataset-list" %}
              {% set item_class = "dataset-item module-content" %}
                {%  set repo_data = h.get_organization(org=doosra_org, include_datasets = True)  %}
              {% snippet 'snippets/package_list.html', packages=repo_data.packages[:4], list_class=list_class, item_class=item_class, truncate=120 %}

          </section>
  {% endif %}
 </div>


{% endfor %}

