<style>

.centered-h3 {
    background-color: white; /* White background for the entire div */
    display: flex;
    justify-content: center; /* Center horizontally */
    padding: 20px; /* Padding around the h3 tag */
    border-radius: 10px; /* Curved edges for the div */
    margin-top: 20px; /* Space above the div */
}

.centered-h3 h2   {
    background-color: white;
    border-radius: 5px; /* Curved edges */
    padding: 10px; /* Padding inside the h3 tag */
    margin: 0; /* Removes default margin */
    /* Additional styling as needed */
}
</style>

{% set do_not_use, repo_count, dataset_count = h.repositories_dataset_present_count() %}


<script>

document.addEventListener('DOMContentLoaded', function () {
    // Get the dataset count from the data attribute
    const datasetCountElement = document.getElementById('dataset-count');
    const datasetCount = parseInt(datasetCountElement.getAttribute('data-dataset-count'), 10);

    // Proceed with the animation using the datasetCount
    animateCount(0, datasetCount, 1000); // Animate over 1000 milliseconds

    function animateCount(start, end, duration) {
        let startTimestamp = null;
        const step = (timestamp) => {
            if (!startTimestamp) startTimestamp = timestamp;
            const progress = Math.min((timestamp - startTimestamp) / duration, 1);
            datasetCountElement.innerText = Math.floor(progress * (end - start) + start);
            if (progress < 1) {
                window.requestAnimationFrame(step);
            }
        };
        window.requestAnimationFrame(step);
    }
});

</script>


<div class = "centered-h3">
    <h2> Search Across <br> </h2>
    <h2 id="dataset-count" data-dataset-count="{{ dataset_count }}"> ... </h2>
<!--    <h2> 135262 Datasets </h2>-->
    <h2>& {{ repo_count }} Repositories </h2>

</div>


