<!--<style>-->

<!--.centered-h3 {-->
<!--    background-color: white; /* White background for the entire div */-->
<!--    display: flex;-->
<!--    justify-content: center; /* Center horizontally */-->
<!--    padding: 20px; /* Padding around the h3 tag */-->
<!--    border-radius: 10px; /* Curved edges for the div */-->
<!--    margin-top: 20px; /* Space above the div */-->
<!--    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */-->
<!--    border: 1px solid rgb(204, 204, 204); /* Light border */-->
<!--    font-family: 'IBM Plex Sans', sans-serif; /* Consistent font style */-->
<!--}-->

<!--.centered-h3 h3 {-->
<!--    background-color: white;-->
<!--    border-radius: 5px; /* Curved edges */-->
<!--    padding: 10px; /* Padding inside the h3 tag */-->
<!--    margin: 0; /* Removes default margin */-->
<!--    color: rgb(68, 68, 68); /* Font color aligned with the site's theme */-->
<!--}-->

<!--</style>-->
{% asset 'ckanext-statictheme/home_count_css' %}
{% asset 'ckanext-statictheme/home_count_js' %}

{% set do_not_use, repo_count, dataset_count = h.repositories_dataset_present_count() %}

<div class = "centered-h3">
    <h2> Search Across &nbsp; </h2>
    <h2 id="dataset-count" data-dataset-count="{{ dataset_count }}"> ... </h2>
    <h2> &nbsp; Datasets & {{ repo_count }} Repositories </h2>

</div>


<!--<script async type="text/javascript">-->

<!--document.addEventListener('DOMContentLoaded', function () {-->
<!--    // Get the dataset count from the data attribute-->
<!--    const datasetCountElement = document.getElementById('dataset-count');-->
<!--    const datasetCount = parseInt(datasetCountElement.getAttribute('data-dataset-count'), 10);-->

<!--    // Proceed with the animation using the datasetCount-->
<!--    animateCount(0, datasetCount, 500); // Animate over 500 milliseconds-->

<!--    function animateCount(start, end, duration) {-->
<!--        let startTimestamp = null;-->
<!--        const step = (timestamp) => {-->
<!--            if (!startTimestamp) startTimestamp = timestamp;-->
<!--            const progress = Math.min((timestamp - startTimestamp) / duration, 1);-->
<!--            const currentCount = Math.floor(progress * (end - start) + start);-->
<!--            datasetCountElement.innerText = currentCount.toLocaleString(); // Format with commas-->
<!--            if (progress < 1) {-->
<!--                window.requestAnimationFrame(step);-->
<!--            }-->
<!--        };-->
<!--        window.requestAnimationFrame(step);-->
<!--    }-->
<!--});-->


<!--</script>-->

