
    <h2> NFDI4Chem Search Service </h2>

    <p>
    The NFDI4Chem Search Service provides centralized access to overarching datasets and search results from various chemistry
    and chemistry-related repositories within the NFDI4Chem federation. One can browse through these datasets and optimize your search results
    by various filter options. The NFDI4Chem Search Service is developed and maintained by
    <a href="https://www.tib.eu/en/">TIB - Leibniz Information Centre for Science and Technology. </a>
    It is part of the service portfolio of the <a href="https://www.nfdi4chem.de/">NFDI4Chem consortium </a> within the
    <a href = "https://www.nfdi.de/?lang=en">National Research Data Infrastructure. </a>
    </p>

    <p>
    The Search Service currently harvests and indexes metadata from the following repositories:
    </p>


    <h3> Chemotion - Repository for Molecules and Research Data </h3>
    <p>
        The <a href="https://www.chemotion-repository.net/welcome"> Chemotion - Repository </a>
        covers research data assigned to molecules, their properties and characterization, as well as reactions and
        experimental investigations. It is hosted at the <a href = 'https://www.kit.edu/english/'> Karlsruhe Institute of Technology (KIT) </a>
        and is used by several groups in Germany and beyond. Scientists in the field of molecular and synthetic chemistry are supported in their
        efforts to handle data in a FAIR (<b>F</b>indable, <b>A</b>ccessible, <b>I</b>nteroperable & <b>R</b>eusable) manner.
        The repository is interoperable with the <a href ='https://eln.chemotion.net/home'> Chemotion Electronic Lab Notebook (ELN) </a>,
        which means that data can be transferred from the ELN directly to the repository.
        Data is curated through <a href ='https://www.chemotion-repository.net/home/howto/c40fdb44-8854-46bf-88b3-cc9d6adc3543'> automatic checks </a>
        and a peer review process. The Chemotion repository provides an internal substance register, a spectra viewer (ChemSpectra), a structure editor (Ketcher),
        and accepts all data types, while only a few of them can be processed and edited in the viewers.

    </p>


    <h3> MassBank - High Quality Mass Spectral Database </h3>
    <p>
        <a href = "https://massbank.eu/MassBank/">MassBank </a> is an open source mass spectral library for the identification of small chemical molecules of metabolomics, exposomics and environmental
        relevance. The vast majority of MassBank <a href="https://massbank.eu/MassBank/Contents"> contents </a> now features high-resolution mass spectrometry data, although all kinds of mass spectral data
        are accepted. A range of <a href= "https://massbank.eu/MassBank/Search"> search </a> options are available for browsing the data.
        The MassBank library is based on <a href = "https://github.com/MassBank/MassBank-data"> text file records </a> containing the record metadata
        and the mass spectral information in the <a href="https://github.com/MassBank/MassBank-web/blob/main/Documentation/MassBankRecordFormat.md"> MassBank record format.</a>
        All data is archived on <a href = "https://github.com/MassBank/MassBank-data"> GitHub </a> and <a href = "https://doi.org/10.5281/zenodo.3378723"> Zenodo</a>;
        the code is also on <a href= "https://github.com/MassBank/"> GitHub</a>. The MassBank library can be <a href = "https://github.com/MassBank/MassBank-data/releases"> downloaded in different formats such as text
        records, database files (sql) and MSP files.</a>
    </p>
    <p>
        MassBank is maintained and developed by the <a href = "https://github.com/MassBank"> MassBank consortium </a> and is supported by
        the <a href= "https://www.norman-network.net/"> NORMAN Association </a>, <a href = "https://www.fnr.lu/"> FNR </a> and NFDI4Chem.
        The main sustainers and developers of MassBank and related tools are the Team of Steffen Neumann
        <a href = "https://www.ipb-halle.de/forschung/synergieforschungsgruppen/forschungsgruppen/bioinformatik-forschungsdaten/"> (Leibniz Institute of Plant Biochemistry. IPB, Halle/Saale, Germany) </a>,
        Michael Stravs <a href = "https://www.eawag.ch/en/aboutus/portrait/organisation/staff/profile/michael-stravs/show/">(Swiss Federal Institute of Aquatic Science and Technology, EAWAG, Dübendorf, Switzerland)</a>,
        Emma Schymanski <a href = "https://wwwen.uni.lu/lcsb/people/emma_schymanski">(Luxembourg Centre for Systems Biomedicine, University of Luxembourg, LCSB, Belvaux, Luxembourg)</a>,
        and Tobias Schulze <a href = "https://www.ufz.de/index.php?en=40500"> (Helmholtz Centre for Environmental Research, UFZ, Leipzig, Germany). </a>
    </p>


    <h3> RADAR4Chem </h3>
    <p>
        <a href = "https://radar.products.fiz-karlsruhe.de/en/radarabout/radar4chem" > RADAR4Chem </a> is a reliable and
        low-threshold publishing service for chemistry research data based on our established data repository <a href="https://radar.products.fiz-karlsruhe.de/">RADAR</a>.
        With RADAR4Chem, we enable you to publish your digital research data easily, securely, and free of charge. At the same time,
        we offer the scientific community access to these research data publications according to the
        FAIR criteria (<b>F</b>indable, <b>A</b>ccessible, <b>I</b>nteroperable & <b>R</b>eusable).
        RADAR4Chem thus makes an important contribution to the improved availability, sustainable preservation, and
        independent publication capability of digital chemistry research data.
    </p>

    <h3> DaRUS - the Data Repository of the University of Stuttgart </h3>
    <p>
        <a href="https://darus.uni-stuttgart.de/"> DaRUS </a> is the repository where the research data, scripts, and codes of members of the University of Stuttgart
        are archived, shared, and published. It is based on the open-source software <a href="https://dataverse.org/">  DataVerse </a>  and offers the possibility
        to maintain and manage its data universes with individual search criteria and description options and to exchange
        them within a research group or for shared use with selected partners or for publication.
        All published datasets are easily citable and reusable for the research community.
    </p>

    <h3> nmrXiv </h3>

    <p>
        <a href="https://nmrxiv.org/"> nmrXiv </a> is a FAIR and Open, Consensus-Driven Nuclear Magnetic Resonance (NMR) Data Repository and Computational platform. It is currently being developed as a part of NFDI4Chem initiative with the ultimate goal of accelerating broader coordination and data sharing among researchers by creating a platform for managing, sharing, and analyzing raw and processed NMR spectral data.
        The immediate goal of nmrXiv is to integrate and execute the following objectives by establishing nmrXiv as a consensus-driven resource designed to serve global chemistry research and adjacent natural products / metabolomics communities.

    </p>