
{# {% set repo = h.repositories_present() %} #}
{% for repo in h.repositories_present() %}

  {% set pehla_org = 'massbank' %}
  {% if repo.name == pehla_org %}
      {% set url = h.url_for(controller='repository', action = 'read', id = repo.name) %}
        <p> {{ repo }} </p>
        {% set truncate=truncate or 0 %}
            <section class="group-list module module-narrow module-shallow">
                <header class="module-heading">
                    <h3 class="media-heading"><a href={{ url }}>{{ repo.title  }}</a></h3>
                        {% if repo.description %}
                    {% if truncate == 0 %}
                      <p>{{ h.markdown_extract(repo.description)|urlize }}</p>
                    {% else %}
                      <p>{{ h.markdown_extract(repo.description, truncate)|urlize }}</p>
                    {% endif %}
                        {% endif %}
                </header>
              {% set list_class = "list-unstyled dataset-list" %}
              {% set item_class = "dataset-item module-content" %}
              {% snippet 'snippets/package_list.html', packages=packages_to_show, list_class=list_class, item_class=item_class, truncate=120 %}

          </section>
  {% endif %}
{% endfor %}
