{% ckan_extends%}

<div class="module-content box">
  <div>
    {% if intro %}
      <h1 class="page-heading">{{ _("NFDI4Chem Search") }}</h1>
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("NFDI4Chem Search") }}</h1>
      <p>
        {% trans %}NFDI4Chem is an initiative to build an open and FAIR infrastructure for research data management in chemistry. 
        This Search Service provides overarching datasets and search results from various chemistry repositories.
        {% endtrans %}
      </p>
    {% endif %}
  </div>
  
{% block home_image_caption %}
  {{ _("NFDI4Chem Search Service") }}
{% endblock %}

{# Replace the promoted image. #}
{% block home_image_content %}
  <a class="media-image" href="#">
    <img src="/NFDI4Chem-Logo_einfarbig_schwarz.jpg" alt="Featured image"
         width="420" height="220" />
  </a>
{% endblock %}
